.box{
    width: 60%;
    margin: 20px auto;
    border: 1px solid white;
    border-radius: 4px;
    background-color: red;
    justify-content: center;
}

h2{
    text-align: center;
    color: red;
}
input[type="text"],
input[type="tel"],
input[type="time"],
input[type="number"]{
    width: calc(100% - 50px);
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #fff;
    border-radius: 5px;
}

button{
    background-color: #1e1922;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: red;
}
body{
    background: black;
}