@import url("https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@400..700&family=Madimi+One&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2b2d42;
}

.content{
    background-color: #ffffff;
    border-radius: 10px;
    width: 960px;
    height: 75%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.content::before{
    position: absolute;
    content: "";
    background-color: #fee440;
    width: 40%;
    height: 100%;
    border-radius: 10px 0px 0px 10px;
    color: #2b2d42;
    animation: slidein 1s forwards;
}

.first-content{
    display: flex;
    z-index: 10;
}


.first-colunn{
    text-align: center;
    width: 40%;
}

.tittle{
    font-size: 30px;
    font-weight: 700;
    text-transform: capitalize;
    color: #2b2d42;
}

.icon-modify{
    color: rgba(16, 199, 52, 0.6);
    padding: 0 10px;
}

.form{
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    width: 55%;
}

.form input{
    height: 35px;
    border: none;
    background-color: #edf2f4;
}

.label-input{
    background-color: #E8751A;
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.btn {
    border-radius: 10px;
    text-transform: capitalize;
    background-color: #5356FF;
    color: #4CCD99;
    font-size: 12px;
    font-weight: 500;
    margin: 35px 10px 0; /* Adjust margin to create separation */
    border: none;
    display: inline-block;
}



.btn:hover {
    background-color: #124076;
    color: #87A922;
}

.btn-primary {
    background-color: #F5E8DD;
    color: #ffffff;
}

.btn-primary:hover {
    background-color: #9BCF53;
    color:#15F5BA;  
}


input[type="text"] {
    /* Your styles here */
    width: 200px; 
    height: 40px; 
    padding: 30px; 
}

input[type="password"]#senha {
    /* Your styles here */
    width: 200px; /* Example width */
    height: 40px; /* Example height */
    padding: 30px; /* Example padding */
}


.social-media {
    width: 100%;
    margin: 0 10px; /* Add margin to create separation */
    height: auto;
    max-width: 10%;
    padding: 10px;
    box-sizing: border-box;
    
}

/* Styles for the button container */
.btn {
    margin: 10px;
    padding: 10px;
}

/* Styles for the primary button */
.btn-primary {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff; /* Change this to your desired color */
    color: #fff; /* Text color */
    text-decoration: none; /* Remove underline from the link */
    border: none;
    border-radius: 5px;
}

/* Hover effect for primary button */
.btn-primary:hover {
    background-color: #0056b3; /* Change this to a darker shade for hover effect */
}



@keyframes slidein{
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }
}
@keyframes fadein{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}